body {
    background-color: rgb(123, 169, 239);
    font-family: normal 15pt Verdana;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.364);
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}